extends layout

block content
  a(href="/event") View events
  br
  if (!user)
    a(href="/user/login") Login
    br
    a(href="/user/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    br
    a(href="/event/create") Create an event
    br
    a(href="/user/logout") Logout
